# Datos crudos (pesados, no se versionan)
data/raw/*
!data/raw/.gitkeep

# Datos procesados grandes
data/processed/flights_with_weather.csv
data/processed/weather_download_log.csv
!data/processed/.gitkeep

# BTS combinado (980 MB)
data/ontime_2024_completo.csv

# Entorno virtual
venv/
env/
.venv/

# Python
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# Sistema
.DS_Store
Thumbs.db

# Streamlit
.streamlit/secrets.toml
